@{
    ViewData["Title"] = "Home Page";
}



    <head>
        <title align="center">Register</title>
        <base target="Register" href="/Identity/Account/Register"/>
    meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

   <div class="text-center">
    <h1 class="display-4">Welcome</h1>  
    <p>User Id : @ViewData["UserID"]</p>
   </div>
   



